.bodys {
    margin: 0 50px;
    border: 2px solid black;
}

.blood {
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    height: 50px;
    margin: 10px;
}

.tree {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(107, 235, 23, 1);
    height: 50px;
    margin: 10px;
}

.sun {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(217, 238, 24);
    height: 50px;
    margin: 10px;
}

.sky {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(73, 222, 241);
    height: 50px;
    margin: 10px;
}

.space {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(34, 33, 33);
    height: 50px;
    margin: 10px;
}

.moon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(233, 226, 226);
    height: 50px;
    margin: 10px;
}

.dark {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    height: 50px;
    margin: 10px;
}

.primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(86, 50, 247);
    height: 50px;
    margin: 10px;
}

.text {
    text-align: center;
    color: rgb(255, 255, 255);
}

.text_main {
    text-align: center;
}

.heading {
    margin: 10px 50px;
}

@media screen and (max-width: 480px) {}