html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'popins', sans-serif;
  user-select: none;
}

h2 {
  text-align: center;
}

.btn {
  position: absolute;
  top: 15px;
  left: 10px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1e1e1e;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}

.btn.clicks {
  left: 260px;
}

.btn span {
  color: white;
  font-size: 28px;
  line-height: 45px;
}

.btn.click span::before {
  content: '\f00d';
}

.sidebar {
  background: #000;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0%;
  left: -250px;
  transition: left 0.4s ease;
}

.sidebar.show {
  left: 0px;
}

.sidebar .text {
  color: white;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #1e1e1e;
  letter-spacing: 1px;
}

nav ul {
  background: #1b1b1b;
  height: 100%;
  width: 100%;
  list-style: none;
}

nav ul .comp-show.show {
  display: block;
}

nav ul .util-show.show1 {
  display: block;
}

nav ul .lout-show.show1 {
  display: block;
}

nav ul li {
  line-height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}

nav ul li a:hover {
  color: cyan;
  background-color: #1e1e1e;
  border-left-color: cyan;
}

nav ul ul {
  position: static;
  display: none;
}

nav ul ul li {
  line-height: 17px;
  padding: 10px;
  border-bottom: none;
}

nav ul ul li a {
  font-size: 17px;
  color: #e6e6e6;
  padding-left: 80px;
}

nav ul li a span {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
}

nav ul li a span.rotate {
  transform: translateY(-50%) rotate(-180deg);
}